.p-quiz {
  padding: 40px 0;
  font-family: "DotGothic16", sans-serif;
}

.p-quiz__title {
  font-size: 40px;
  text-align: center;
}
.p-quiz__inner {
  padding: 0 16px;
}
.p-quiz__label {
  display: block;
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
}
.p-quiz__input {
  margin-top: 12px;
  font-size: 20px;
  padding: 8px;
  border-radius: 8px;
}
.p-quiz__select {
  margin-top: 12px;
  font-size: 20px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #000;
}
.p-quiz__button {
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  background: #007fff;
  border: 1px solid #007fff;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.p-quiz__ask {
  margin-left: 6px;
  color: #ff0000;
}
